
//Header block 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1745px;
    width: 100%;
    position: relative;

    //Header elements & modifiers
    @at-root .header__part-left {
        display: flex;
        align-items: center;
        margin-left: 0px;

        @media(max-width: 1745px) {
            margin-left: 31px;
        }

        @at-root .header__logo {
            font-family: $sora;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 0px;

            @media (min-width: 1920px) {
                padding-left: 3px;
            }

            @at-root .header__logo-img {
                width: 140px;
            }
        }
    }

    @at-root .header__part-right {
        display: flex;
        align-items: center;

        @media(max-width: 992px) {
            // position: absolute;
        }

        @at-root .header__nav-menu-cover {
            display: flex;
            margin-bottom: 0;

            @media(max-width: 1100px) {
                display: none;
            }

            @at-root &--mob-nav-on {
                display: flex !important;
                flex-direction: column;
                align-items: center;
                width: 100vw;
                height: calc(100vh - 82px);
                z-index: 10;
                top: 82px;
                left: 0;
                background-color: $uq-gray;
                position: absolute;
                padding-top: 9px;

                /*the following don't need to be at root because BEM allows 
                cascading if the state of the parent changes or themes are 
                assigned to it. In this case the parent state changes to &--mob-nav-on*/
                .header__nav-item {
                    justify-content: center;
                    max-width: 188px;
                }

                .header__nav-item--regular {
                    padding: 0;

                    .header__nav-item-link {
                        padding: 24px 0;
                    }
                }

                .header__nav-item-link {
                    font: normal normal 600 30px/38px Sora;
                }

                .header__nav-item--bordered {
                    margin: 24px 0px 0px -2px;
                    padding: 12px 17px 8px 14px;
                }

                .header__lang-switch {
                    position: absolute;
                    bottom: 44px;
                }
            }

            @at-root .header__nav-item {
                display: flex;
                align-items: center;
            }

            @at-root .header__nav-item--regular {
                padding: 0 32px;

                @at-root .header__nav-item-link {
                    color: $uq-black;
                    font: normal normal 600 20px/25px Sora;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            @at-root .header__nav-item--bordered {
                border: 2px solid $uq-black;
                margin: 0 25px 0 32px;
                padding: 4px 11px;
            }

            @at-root .header__lang-switch {
                display: flex;
                padding: 0 35px 0 24px;

                @media (min-width: $breakpoint-desktop-large) {
                    padding: 0 0 0 24px;
                }

                @at-root .header__lang-switch-value {
                    font: normal normal 600 20px/25px Sora;
                    text-transform: uppercase;
                    color: $uq-black;
                }
            }
        }
    }
}

//PROJECT block
.project {
    display: flex;
    width: 100%;
    align-items: flex-start;

    @media (max-width: 480px) {
        width: 100% !important;
    }

    @media (max-width: 767px) {
        margin-bottom: 32px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        margin-bottom: 25px;
    }

    @media (max-width: 1200px) {
        flex-direction: column-reverse;
    }

    @media (max-width: 1440px) {
        width: 100vw;
    }

    @at-root .project__left {
        background-color: $uq-black;
        padding: 30px 35px 30px 31px;

        @media (max-width: 768px) {
            width: 100%;
        }

        @media (min-width: 768px) and (max-width: 1200px) {
            width: 71%;
        }

        @media (max-width: 1440px) {
            flex: 331;
        }

        @media (min-width: 1441px) {
            flex: 339;
        }

        @at-root .project__text {
            color: $uq-white;
            margin-bottom: 46px;
            font: normal normal normal 17px/30px IBM Plex Sans;

            @at-root .project__text--bold {
                font: normal normal bold 17px/30px IBM Plex Sans;
            }
        }

        @at-root .project__link {
            color: $uq-white;

            svg {
                height: 26px;
                width: 40px;

                path {
                    fill: $uq-white;
                }
            }
        }
    }

    @at-root .project__right {
        flex: 1388;
        background-color: $uq-yellow;
        height: 719px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 1920px) {
            max-width: 1125px;
        }

        @at-root &--yellow {
            background-color: $uq-yellow;
        }

        @at-root &--red {
            background-color: $uq-red;
        }

        @at-root &--blue {
            background-color: $uq-blue;
        }

        @at-root .project__image {
            @media (max-width: 1199px) {
                width: 100%;
            }

            @media (min-width: 1200px) and (max-width: 1440px) {
                height: 100%;
            }

            @media (min-width: 1440px) and (max-width: 1919px) {
                height: 92%;
            }

            @media (min-width: 1920px) {
                height: 100%;
            }
        }
    }

    .project__cta {
        width: 100%;
        text-align: center;
        padding-top: 60px;
    }
}

//WHAT WE DO block
.what-we-do {
    display: flex;

    @media (max-width: 992px) {
        flex-direction: column;
    }

    @media (min-width: 992px) {
        flex-direction: row;
    }

    @at-root .what-we-do__left {
        flex: 48;

        @at-root .what-we-do__title {
            font: normal normal bold 80px/85px Sora;
            text-transform: uppercase;
            margin-bottom: 31px;

            @media (max-width: 480px) {
                font: normal normal bold 30px/65px Sora;
                text-align: center;
                margin-bottom: 4px;
            }

            @media (min-width: 480px) and (max-width: 992px) {
                font: normal normal bold 60px/65px Sora;
                margin-bottom: 15px;
            }

            @at-root .what-we-do__line-break {

                @media (max-width: 992px) {
                    display: none;
                }
            }
        }

        @at-root .what-we-do__body-text {
            font: normal normal normal 20px/32px IBM Plex Sans;

            @media (max-width: 480px) {
                font: normal normal normal 25px/35px IBM Plex Sans;
            }

            @media (min-width: 480px) and (max-width: 992px) {
                font: normal normal normal 25px/35px IBM Plex Sans;
            }

            @media (min-width: 1440px) {
                width: 90%;
            }

            @media (min-width: 1920px) {
                width: 79%;
            }

            @at-root .what-we-do__body-text-link {
                text-decoration: underline;
                font: normal normal normal 20px/32px IBM Plex Sans;
                color: $uq-black;

                @media (max-width: 480px) {
                    font: normal normal normal 25px/35px IBM Plex Sans;
                }

                @media (min-width: 480px) and (max-width: 991px) {
                    font: normal normal normal 25px/35px IBM Plex Sans;
                }

                @media (min-width: 992px) {
                    font: normal normal normal 20px/32px IBM Plex Sans;
                }

                @at-root &--on-large-screens {
                    @media (max-width: 480px) {
                        display: none;
                    }
                }
            }
        }
    }

    @at-root .what-we-do__right {
        flex: 56;

        @media (max-width: 480px) {
            padding-top: 56px;
        }

        @media (min-width: 480px) and (max-width: 992px) {
            padding-top: 53px;
        }

        @at-root .what-we-do__list-heading {
            display: flex;
            align-items: center;
            padding-bottom: 12px;

            @media (max-width: 480px) {
                padding-bottom: 35px;
            }

            @media (max-width: 992px) {
                flex-direction: column;
            }

            @media (min-width: 992px) {
                flex-direction: row;
            }

            @at-root .what-we-do__list-heading-image-cover {
                flex: 1;
                display: flex;
                justify-content: center;

                img {}
            }

            @at-root .what-we-do__list-heading-text {
                padding-left: 3px;
                flex: 6;
                font: normal normal 800 35px/30px Sora;
                text-transform: uppercase;

                @media (max-width: 480px) {
                    font: normal normal 800 30px/30px Sora;
                    text-align: center;
                    padding-top: 24px;
                }

                @media (min-width: 480px) and (max-width: 992px) {
                    padding-top: 30px;
                    padding-left: 5px;
                    padding-bottom: 17px;
                }

                @media (min-width: 1440px) {
                    padding-left: 15px;
                }

                @media (min-width: 1920px) {
                    padding-left: 3px;
                }

            }

            @at-root &--top {
                padding-top: 3px;

                img {

                    @media (max-width: 480px) {
                        width: 88px
                    }

                    @media (min-width: 480px) and (max-width: 992px) {
                        width: 100px
                    }
                }
            }

            @at-root &--bottom {
                img {

                    @media (max-width: 480px) {
                        width: 104px;
                    }

                    @media (min-width: 480px) and (max-width: 992px) {
                        width: 104px
                    }
                }

                .what-we-do__list-heading-text {

                    @media (max-width: 480px) {
                        padding-top: 18px;
                    }

                    @media (min-width: 480px) and (max-width: 992px) {
                        padding-top: 22px;
                        padding-bottom: 9px;
                    }
                }

                @media (max-width: 480px) {
                    padding-bottom: 27px;
                }

                @media (min-width: 480px) and (max-width: 992px) {
                    padding-top: 12px;
                    padding-left: 3px;
                }
            }
        }


        @at-root .what-we-do__list-body {
            display: flex;
            justify-content: center;
            padding-bottom: 15px;


            @media (max-width: 992px) {
                flex-direction: column-reverse;
            }

            @media (min-width: 992px) {
                flex-direction: row;
            }

            @at-root .what-we-do__line-cover {
                flex: 1;
                display: flex;
                justify-content: center;

                @at-root .what-we-do__line {
                    width: 6px;
                    background: $uq-black;
                    height: 100%;

                    @media (max-width: 480px) {
                        height: 70px;
                        margin-top: 7px;
                    }

                    @media (min-width: 480px) and (max-width: 992px) {
                        margin-left: 5px;
                        margin-top: 8px;
                    }
                }
            }

            @at-root &--top {

                .what-we-do__line {
                    @media (min-width: 480px) and (max-width: 992px) {
                        height: 130px;
                    }
                }
            }

            @at-root &--bottom {

                @media (min-width: 480px) and (max-width: 992px) {
                    padding-bottom: 14px;
                }

                .what-we-do__line {

                    @media (min-width: 480px) and (max-width: 992px) {
                        margin-top: 26px;
                    }

                    @media (min-width: 480px) and (max-width: 992px) {
                        height: 105px;
                    }
                }
            }

            @at-root .what-we-do__list-cover {
                flex: 6;
                padding-left: 3px;

                @media (min-width: 1440px) {
                    padding-left: 15px;
                }

                @media (min-width: 1920px) {
                    padding-left: 3px;
                }


                @at-root .what-we-do__list-points {
                    margin-bottom: 10px;

                    @media (max-width: 992px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    @at-root .what-we-do__list-point {
                        font: normal normal normal 20px/30px IBM Plex Sans;

                        @media (max-width: 480px) {
                            font: normal normal normal 20px/30px IBM Plex Sans;
                            text-align: center;
                        }

                    }
                }
            }
        }

        @at-root .what-we-do__cta-wrapper {
            margin-left: 55px;
            margin-top: 6px;
        
            @media (max-width: 992px) {
                margin-left: 0;
                display: flex;
                justify-content: center;
            }
        
            @media (min-width: 1440px) {
                margin-left: 44px;
            }
        
            @media (min-width: 1920px) {
                margin-left: 55px;
            }
        }        
    }
}

//WE WORK FOR block
.we-work-for {
    padding-bottom: 59px;

    @media (min-width: 480px) and (max-width: 1200px) {
        padding-bottom: 105px;
    }

    @media (min-width: 1440px) and (max-width: 1919px) {
        margin-right: -130px;
    }

    @media (min-width: 1920px) {
        padding-right: 70px;
    }

    @at-root .we-work-for__corner-image {
        position: absolute;
        top: -30px;
        right: -16px;

        @media (max-width: 480px) {
            width: 194px;
            top: -1px;
            right: -21px;
        }

        @media (min-width: 480px) and (max-width: 1199px) {
            width: 285px;
            top: -2px;
            right: -30px;
        }

        @media (min-width: 1200px) and (max-width: 1919px) {
            top: -29px;
            right: -71px;
        }

        @media (min-width: 1920px) {
            top: -30px;
            right: -16px;
        }
    }

    @at-root .we-work-for__title {
        font: normal normal bold 80px/132px Sora;
        text-transform: uppercase;
        color: $uq-white;

        @media (max-width: 700px) {
            text-align: center;
            font: normal normal bold 30px/35px Sora !important;
        }

        @media (min-width: 480px) and (max-width: 1200px) {
            font: normal normal bold 60px/65px Sora;
        }
    }

    @at-root .we-work-for__companies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 49px;

        @media (max-width: 480px) {
            padding-top: 29px;
        }

        @media (min-width: 480px) and (max-width: 1200px) {
            padding-top: 62px;
        }

        @at-root .we-work-for__company {
            padding: 45px 0 45px 0;

            @media (max-width: 480px) {
                width: 100%;
                padding: 14px 0;
            }

            @media (min-width: 480px) and (max-width: 1199px) {
                width: 50%;
            }

            @media (min-width: 480px) and (max-width: 1200px) {
                padding: 32px 0;
            }

            @media (max-width: 1199px) {
                display: flex;
                justify-content: center;
            }

            @media (min-width: 1200px) {
                width: 25%;
            }


            @at-root .we-work-for__company-logo {
                max-width: 250px;

                @media (max-width: 480px) {
                    max-width: 161px;
                }
            }
        }
    }
}