//Reusable classes

.soma-reg, .soma-semi, .soma-bold, .soma-extra {
    font-family: $sora;
}

.sora-reg {
    font-weight: 400;
}

.sora-semi {
    font-weight: 600;
}

.sora-bold {
    font-weight: 700;
}

.sora-extra {
    font-weight: 800;
}