//Colors
$uq-white: #fff;
$uq-black: #000;
$uq-gray: #EAEAEA;
$uq-blue: #151BC1;
$uq-yellow: #FFD700;
$uq-red: #FF4545;

//Breakpoints (needs work)
$breakpoint-desktop-large: 1920px;
$breakpoint-tablet: 768px;
