//We Work For styling

.we-work-for {
    background-color: $uq-blue;
    position: relative;
    padding-top: 55px;

    @media (max-width: 700px) {
        padding-top: 97px;
    }

    @media (min-width: 701px) and (max-width: 992px) {
        padding-top: 66px;
    }

    .container {

        padding-left: 6px;
        padding-right: 6px;
    }

    .we-work-for-cover {
        padding-bottom: 59px;

        @media (min-width: 480px) and (max-width: 1200px) {
            padding-bottom: 105px;
        }

        @media (min-width: 1440px) and (max-width: 1919px) {
            margin-right: -130px;
        }

        @media (min-width: 1920px) {
            padding-right: 70px;
        }

        .corner-img {
            position: absolute;
            top: -30px;
            right: -16px;

            @media (max-width: 480px) {
                width: 194px;
                top: -1px;
                right: -21px;
            }

            @media (min-width: 480px) and (max-width: 1199px) {
                width: 285px;
                top: -2px;
                right: -30px;
            }

            @media (min-width: 1200px) and (max-width: 1919px) {
                top: -29px;
                right: -71px;
            }
            @media (min-width: 1920px) {
                top: -30px;
                right: -16px;
            }
        }

        .title {
            font: normal normal bold 80px/132px Sora;
            text-transform: uppercase;
            color: $uq-white;

            @media (max-width: 700px) {
                text-align: center;
                font: normal normal bold 30px/35px Sora!important;
            }

            @media (min-width: 480px) and (max-width: 1200px) {
                font: normal normal bold 60px/65px Sora;
            }
        }

        .companies {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-top: 49px;

            @media (max-width: 480px) {
                padding-top: 29px;
            }

            @media (min-width: 480px) and (max-width: 1200px) {
                padding-top: 62px;
            }

            .company {
                padding: 45px 0 45px 0;

                @media (max-width: 480px) {
                    width: 100%;
                    padding: 14px 0;
                }
                
                @media (min-width: 480px) and (max-width: 1199px) {
                    width: 50%;
                }
                @media (min-width: 480px) and (max-width: 1200px) {
                    padding: 32px 0;
                }

                @media (max-width: 1199px) {
                    display: flex;
                    justify-content: center;
                }

                @media (min-width: 1200px) {
                    width: 25%;
                }

                .company-logo {
                    max-width: 250px;

                    @media (max-width: 480px) {
                        max-width: 161px;
                    }

                }
            }
        }
    }
}